h2 {
 margin-bottom: 3px;
}
p {
    margin-top:5px;
}
pre {
    margin-top: 5px;
}
h2{
    color: blueviolet;
}
#index{
    background-color: gainsboro;
    
}
.sociedad {
    background-color: aquamarine;
}
.Internacional{
    background-color: rgb(247, 119, 219);
}
.economia{
    background-color: blue;
    color: aliceblue;
}
.salud{
    background-color: greenyellow;
}
#salud2{
    color: red;
}
.tecnologia{
    font-style: italic;
    background-color: lightpink;
}
#titulo2{
    color: blue;
    background-color: darkseagreen;
}
.deporte{
    background-color: black;
    color: white;
}
.negrita{
    color: white;
    font-weight: bold;
}